.modalContent {
  text-align: center;
}
.modalContent p {
  margin-bottom: 24px;
}
.btnWrapper {
  display: flex;
  justify-content: center;
}
.btnWrapper button {
  min-width: 96px;
}
.btnWrapper button:first-of-type {
  margin-right: 32px;
}
